*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
body{
	background: url(../img/fondoimg.jpg) no-repeat;
}
/*=============================================
CABEZOTE
=============================================*/
#cabezote{
	height: 45px;
	background: rgba(151, 72, 72, 0.5);
}
header a#icono{
	font-family: 'Oswald', sans-serif; 
	font-weight: 100; 
	color: #57c5a0; 
	float: left;
	font-size: 30px;
	padding: 0px 20px;
}
header form#busqueda{
	padding: 10px;
}
header form input#buscar{
	background: #2e2e2e;
	border: 0px;
	height: 20px;
}
header form a#registrar, #lupa{
	color: #6b6b6b;
	font-size: 13px;
}
/*=============================================
BARRA DE NAVEGACIÓN
=============================================*/
#navegacion{
	height: 60px;
	background: rgba(10, 255, 141, 0.5);
}
#navegacion a{
	color: #242424;
	line-height: 60px;
	padding: 0px 30px;
}
#navegacion #carro{
	float: right;
	line-height: 60px;
	padding: 0px 30px;
}
/*=============================================
SLIDE
=============================================*/
#slide{
	height: 461px;
	background: rgba(10, 67, 141, 0.5);
}
/*=============================================
BOTONERA SLIDE
=============================================*/
#btnSlide{
	height: 22px;
	background: rgba(194, 66, 233, 0.5);
}
/*=============================================
LO MAS COMPRADO
=============================================*/
#promo{
	height: 68px;
	background: rgba(235, 231, 16, 0.5);
}
/*=============================================
TIPOS DE OFERTAS
=============================================*/
#tipos{
	height: 230px;
	background: rgba(235, 16, 16, 0.5);
}
/*=============================================
LISTA DE PRODUCTOS
=============================================*/
/*PRODUCTOS UNO*/
#productos-uno{
	height: 383px;
	background: rgba(7, 11, 241, 0.5);
}
/*PRODUCTOS DOS*/
#productos-dos{
	height: 383px;
	background: rgba(1, 187, 17, 0.5);
}
/*=============================================
CUADROS CON TEXTOS
=============================================*/
#texto-principal{
	height: 235px;
	background: rgba(204, 37, 15, 0.5);
}
/*=============================================
CUADROS CON TEXTOS DOS
=============================================*/
#texto-secundario{
	height: 246px;
	background: rgba(241, 238, 7, 0.5);
}
/*=============================================
CONTACTENOS
=============================================*/
#contactenos{
	height: 119px;
	background: rgba(241, 7, 221, 0.5);
}
/*=============================================
FOOTER
=============================================*/
footer{
	height: 89px;
	background: rgba(7, 194, 241, 0.5);
}