*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
body{
	background: url(../img/fondoimg.jpg) no-repeat;
}
/*=============================================
CABEZOTE
=============================================*/
#cabezote{
	background: rgba(151, 72, 131, 0.5);
}
header a#icono{
	font-family: 'Oswald', sans-serif; 
	font-weight: 100; 
	color: #57c5a0; 
	float: left;
	font-size: 30px;
	max-height: 45px;
}
header form {
	max-height: 45px;
	padding: 0rem;
	margin: 0rem;
}
header form input#buscar{
	background: #2e2e2e;
	border: 0px;
	height: 20px;
	padding: 0rem;
	margin: 1.2rem;
}
header form a#registrar, #lupa{
	color: #6b6b6b;
	font-size: 13px;
}
/*=============================================
BARRA DE NAVEGACIÓN
=============================================*/
#navegacion{
	background: rgba(10, 255, 141, 0.5);
}
#navegacion a{
	color: #242424;
	line-height: 60px;
	padding: 0px 30px;
}
#navegacion #carro span{
	line-height: 60px;
	color: #6b6b6b;
	padding: 0px 20px;
}
/*=============================================
SLIDE
=============================================*/
#slide{
	/*background-image: url(../img/slide01.png) ;*/
	height: 483px;
	background: rgba(10, 67, 141, 0.5);
}
.icon{
	background: white;
	color: #8d8d8d;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
}
.contenido-slide{
	margin-top: 6.25rem;
}
#slide p{
	font-size: 2.2rem;
}
#slide h1{
	font-size: 4rem;
}
#slide #btnSlide #paginacion{
	margin-top: 12rem;
	text-align: center;
	bottom: 0.6rem;
	z-index: 1;
}
#slide #btnSlide #paginacion li{
	float: left;
	text-align: center;
	margin: 0px;
}
/*=============================================
LO MAS COMPRADO
=============================================*/
#promo{
	height: 68px;
	background: rgba(235, 231, 16, 0.5);
}
#promo ul li{
	color: #acacac;
	float: left;
	padding: 0px 30px;
	margin: 2.2rem;
}
/*=============================================
TIPOS DE OFERTAS
=============================================*/
#tipos{
	height: 230px;
	background: rgba(235, 16, 16, 0.5);
}
#tipos .row{
	padding-top: 2.5rem;
}
/*=============================================
LISTA DE PRODUCTOS
=============================================*/
#lista-productos{
	height: 766px;
	background: rgba(7, 11, 241, 0.5);
}
#lista-productos .row{
	padding-top: 8.7rem;
	padding-bottom: 5.5rem;
}
/*=============================================
CUADROS CON TEXTOS
=============================================*/
#texto-principal{
	height: 235px;
	background: rgba(204, 37, 15, 0.5);
}
/*=============================================
CUADROS CON TEXTOS DOS
=============================================*/
#texto-secundario{
	height: 246px;
	background: rgba(241, 238, 7, 0.5);
}
/*=============================================
CONTACTENOS
=============================================*/
#contactenos{
	height: 119px;
	background: rgba(241, 7, 221, 0.5);
}
/*=============================================
FOOTER
=============================================*/
footer{
	height: 89px;
	background: rgba(7, 194, 241, 0.5);
}